##########################################
# Updated :     2025-05-28 00:37
# Version :     0.0.1v
# Author  :     HJ
##########################################
#----------------------------------------#
##########################################
# Default Server
##########################################
SERVER_PORT=8000
# Global Prefix 설정 여부
SERVER_GLOBAL_PREFIX_ENABLED=FALSE
SERVER_GLOBAL_PREFIX_ROUTER=/api

# Asset Public 설정 여부
SERVER_PUBLIC_ASSET_ENABLED=FALSE
SERVER_PUBLIC_ASSET_PATH=./public
SERVER_PUBLIC_ASSET_ROUTER=/api/public




##########################################
# Database
##########################################

# MySQL 활성화 여부 TRUE | FALSE
MYSQL_PRIMARY_ENABLED=TRUE

# 기본 MySQL 설정
MYSQL_PRIMARY_HOST=127.0.0.1
MYSQL_PRIMARY_PORT=3306
MYSQL_PRIMARY_USER=example
MYSQL_PRIMARY_PASSWORD=1234
MYSQL_PRIMARY_DATABASE=example


# 읽기 Replica용 (하나 이상 가능)
MYSQL_REPLICA_ENABLED=FALSE
MYSQL_REPLICA_HOSTS=127.0.0.1:3307,127.0.0.1:3308
MYSQL_REPLICA_USER=readonly
MYSQL_REPLICA_PASSWORD=password
MYSQL_REPLICA_DATABASE=mydb


##########################################
# Redis
##########################################
# Redis 연결 유형 : NORMAL or CLUSTER
REDIS_TYPE=NORMAL

# Normal Redis 전용
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_USER=
REDIS_PASSWORD=

# Cluster 전용 쉼표 구분
REDIS_CLUSTER_NODES=

# TLS Setting
REDIS_TLS=FALSE
REDIS_TLS_CA=UNDEFINED
REDIS_TLS_KEY=UNDEFINED
REDIS_TLS_CERT=UNDEFINED

# 연결 시간 제한 (ms)
REDIS_CONNECT_TIMEOUT=0

